<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="RatingChangeUrl" value="http://yorknetuat/clo/home/ratingchanges" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RatingChangeToEmailIds" value="dullmann@yorkcapital.com;developers@yorkcapital.com; WDykan@yorkcapital.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>   
    <add key="RatingChangeSubject" value="CLO Rating Changes on {date} UAT" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="MoodysAdjustedCfrMismatchEmailIds"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  value="developers@yorkcapital.com" />
    <add key="MoodysAdjustedCfrMismatchURL"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  value="http://yorknetuat/clo/home/mismatchdata" />
    <add key="MoodysAdjustedCfrMismatchCCEmailIds" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="developers@yorkcapital.com" />
  </appSettings>
  <connectionStrings>
    <add name="CLOContext"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
         connectionString="Data Source=UATDWHSQL;Uid=YodaUser;Database=Yoda;Pwd=*****;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>