<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
	<connectionStrings>
		<add name="CLOContext" connectionString="Data Source=KL02WSODB-UAT\CLO;uid=cloapp;database=Yoda;pwd=PhkvMxGpG3Rz7-Pu;MultipleActiveResultSets=True"
		  providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="ServiceBaseUrl" value="http://localhost:9000/clo"/>
		<add key="ReCycleRestService" value="true"/>
		<add key="SupportToEmailIds" value="diwakar.singh@ap.linedata.com"/>
		<add key="ReplyToName" value="CLO Support"/>
		<add key="Environment" value="UAT"/>
		<add key="ReplyToEmail" value="diwakar.singh@ap.linedata.com"/>
		<add key="CLOSupportName" value="CLO Support"/>
		<add key="CLOSupportEmail" value="diwakar.singh@ap.linedata.com"/>

    <add key="TotalParChangeURL" value="http://clo-uat.kl.local/home/totalParChanges"/>
    <add key="TotalParChangeToEmailIds" value="diwakar.singh@ap.linedata.com"/>
    <add key="TotalParChangeCCEmailIds" value="rakesh.patkar@ap.linedata.com"/>
    <add key="TotalParChangeURLSubject" value="Change Total Par Change observed"/>
		
		<add key="MoodyRecoveryChangeURL" value="http://clo-uat.kl.local/home/moodyRecoveryChange"/>
		<add key="MoodyRecoveryChangeToEmailIds" value="ankit.mane@ap.linedata.com"/>
		<add key="MoodyRecoveryChangeCCEmailIds" value="ankit.mane@ap.linedata.com"/>
		<add key="MoodyRecoveryChangeURLSubject" value="Moody Recovery Rate Change observed"/>


		<add key="PriceMoverURL" value="http://clo-uat.kl.local/home/topbottompricemovers"/>
		<add key="PriceMoverToEmailIds" value="diwakar.singh@ap.linedata.com"/>
		<add key="PriceMoverCCEmailIds" value="rakesh.patkar@ap.linedata.com"/>
		<add key="PriceMoverSubject" value="Price Movers as of {date}"/>

		<add key="MoodysAdjustedCfrMismatchEmailIds" value="diwakar.singh@ap.linedata.com"/>
		<add key="MoodysAdjustedCfrMismatchURL" value="http://clo-uat.kl.local/home/mismatchdata"/>
		<add key="MoodysAdjustedCfrMismatchSubject" value="Moody's Adjusted CFR Mismatch as of {date}"/>
		<add key="MoodysAdjustedCfrMismatchCCEmailIds" value="diwakar.singh@ap.linedata.com"/>


		<add key="RatingChangeUrl" value="http://clo-uat.kl.local/home/ratingchanges"/>
		<add key="RatingChangeToEmailIds" value="diwakar.singh@ap.linedata.com"/>
		<add key="RatingChangeCCEmailIds" value="diwakar.singh@ap.linedata.com"/>
		<add key="RatingChangeSubject" value="CLO Rating Changes on {date}"/>
		<add key="FundDailySnapshotURL" value="http://clo-uat.kl.local/home/fundstalestatus"/>
		<add key="FundDailySnapshotSubject" value="WSO/CLO status - as of {date}"/>
		<add key="FundDailySnapshotToEmailIds" value="diwakar.singh@ap.linedata.com"/>
		<add key="FundDailySnapshotCCEmailIds" value="diwakar.singh@ap.linedata.com"/>
		<add key="SourceDirectory" value="\\KL02WSODB\Backups\WSOFiles-UAT\TradeDateCash\NewTradeDateCash\NewTradeCashFinal_{dateid}.csv"/>
		<add key="ArchiveDirectory" value="\\KL02WSODB\Backups\WSOFiles-UAT\TradeDateCash\NewTradeDateCash\Archive"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="DatePrevious" value="20210715" />
		<add key="MoodyBasedWarfCalculationFundIds" value="4,10,2,1,3"/>
	</appSettings>
 	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" />
				<bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime> 
    
  <system.net>
    <mailSettings>
      <smtp>
        <network host="klimllc-com.mail.protection.outlook.com" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Logs\" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="2" />
      <datePattern value="yyyyMMdd'.log'" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <logger name="test">
      <level value="DEBUG">
      </level>
    </logger>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>