<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="CLOContext"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
         connectionString="Data Source=PRODDWHSQL;Uid=YodaUser;Database=Yoda;Pwd=*****;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="PriceMoverURL" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="http://yorknet/clo/home/topbottompricemovers"/>
    <add key="PriceMoverToEmailIds"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  value="Department-CLO@yorkcapital.com;RCorso@yorkcapital.com;EKoltunov@yorkcapital.com;MPalaciosHardy@yorkcapital.com"/>
    <add key="PriceMoverCCEmailIds"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  value="developers@yorkcapital.com"/>
    <add key="PriceMoverSubject"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  value="Price Movers as of {date}"/>
    <add key="SupportToEmailIds" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  value="developers@yorkcapital.com" />


    <add key="FundDailySnapshotURL"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  value="http://yorknet/clo/home/fundstalestatus"/>
    <add key="FundDailySnapshotSubject"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  value="WSO/CLO status - as of {date}"/>
    <add key="FundDailySnapshotToEmailIds"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  value="developers@yorkcapital.com"/>

    <add key="MoodysAdjustedCfrMismatchEmailIds"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  value="Department-CLO@yorkcapital.com" />
    <add key="MoodysAdjustedCfrMismatchURL"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  value="http://yorknet/clo/home/mismatchdata" />
    <add key="MoodysAdjustedCfrMismatchCCEmailIds" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="developers@yorkcapital.com" />

    <add key="FundDailySnapshotURL"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  value="http://yorknet/clo/home/fundstalestatus"/>
    <add key="FundDailySnapshotSubject"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  value="WSO/CLO status - as of {date}"/>
    <add key="FundDailySnapshotToEmailIds"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  value="developers@yorkcapital.com"/>
    <add key="FundDailySnapshotCCEmailIds"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  value="developers@yorkcapital.com"/>

    <add key="RatingChangeUrl" value="http://yorknet/clo/home/ratingchanges" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RatingChangeToEmailIds" value="Department-CLO@yorkcapital.com; RCorso@yorkcapital.com; EKoltunov@yorkcapital.com; MPalaciosHardy@yorkcapital.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PriceMoverCCEmailIds"  value="developers@yorkcapital.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RatingChangeSubject" value="CLO Rating Changes on {date}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="Environment"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  value="PROD" />
    <add key="SourceDirectory"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  value="\\ycmdata\TPI\Incoming\CLO" />
    <add key="ArchiveDirectory"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  value="\\ycmdata\TPI\Incoming\CLO\TradeFilesArchive" />
  </appSettings>
</configuration>