
@{
    ViewBag.Title = "FundStaleStatus";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

@{ 
    var funds = (IEnumerable<YCM.CLO.DataAccess.Models.Fund>)ViewBag.Funds;

    <table style="margin-left:100px;margin-top:50px" cellspacing="0" >
        <thead>
            <tr>
                <th style="background-color:#d3d3d3;border-left:1px solid #a9a9a9;border-top:1px solid #a9a9a9;border-bottom:1px solid #a9a9a9;width:100px;text-align:center;padding:5px 2px;margin:0" >Fund</th>
                <th style="background-color:#d3d3d3;border-left:1px solid #a9a9a9;border-top:1px solid #a9a9a9;border-bottom:1px solid #a9a9a9;border-right:1px solid #a9a9a9;width:70px;text-align:center;padding:5px 2px;margin:0">Stale</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var fund in funds)
                {
                    <tr>
                        <td style="text-align:center;border-left:1px solid #a9a9a9;border-bottom:1px solid #a9a9a9;">@(fund.FundCode)</td>
                        @if (fund.IsStale.HasValue && fund.IsStale.Value || fund.IsPrincipalCashStale.HasValue && fund.IsPrincipalCashStale.Value)
                        {
                            <td style="background-color:red;color:white;text-align:center;border-left:1px solid #a9a9a9;border-bottom:1px solid #a9a9a9;border-right:1px solid #a9a9a9">
	                            @(fund.IsStale.HasValue && fund.IsStale.Value ? "Yes (WSO Positions)" : "")&nbsp;
	                            @(fund.IsPrincipalCashStale.HasValue && fund.IsPrincipalCashStale.Value ? "Yes (Principal Cash)" : "")
                            </td>
                        }
                        else
                        {
                            <td style="background-color:green;color:white;text-align:center;border-left:1px solid #a9a9a9;border-bottom:1px solid #a9a9a9;border-right:1px solid #a9a9a9">No</td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
}

