<style>
	.modal {
		text-align: center;
	}

	@media screen and (min-width: 768px) {
		.modal:before {
			display: inline-block;
			vertical-align: middle;
			content: " ";
			height: 100%;
		}
	}

	.modal-dialog {
		display: inline-block;
		text-align: left;
		vertical-align: middle;
	}
</style>
<div class="modal-header">
	<h4>{{bbgpopup.selectedPosition.securityCode + " | " + bbgpopup.selectedPosition.issuerDesc}}</h4>
</div>
<div class="modal-body" style="height: 120px">
	<form name="frmbbgid" id="frmbbgid" novalidate>
		<div class="col-sm-12" style="background-color: #F2F2F2; border-width: 1px 0px; border-style: solid; border-color: lightgray; padding: 20px">
			<div class="col-sm-12" style="padding-left: 0; padding-right: 0; padding-bottom: 10px;">
				Update Bloomberg ID
			</div>
			<div class="col-sm-12" style="padding-left: 0; padding-right: 0;">
				<input style="min-width: 450px;" type="text" ng-model="bbgpopup.selectedPosition.bbgId">
			</div>
		</div>
	</form>
</div>
<div class="modal-footer" ng-class="{'alert-warning':watch.warning,'alert-error':watch.error}">
	<div class="col-sm-12">
		<div class="col-sm-8" style="text-align: left">
			<div ng-show="bbgpopup.error" style="margin-bottom: 0;color: red">
				<b>Error: {{bbgpopup.error}}</b>
			</div>
			<div ng-show="bbgpopup.warning" style="margin-bottom: 0; color: red">
				<div class="alert alert-danger" role="alert" style="margin-bottom: 0;font-size: 14px">
					<strong>Warning: </strong> <span ng-bind-html="bbgpopup.warning"></span>
				</div>
			</div>
			<div ng-show="bbgpopup.isLoading">
				<label>{{bbgpopup.statusText}}...</label>
				<img style="width: 26px; height: 26px;" height="26" width="26" ng-src="{{bbgpopup.appBasePath}}/Content/Images/ajax-loader.gif" />
			</div>
		</div>


		<div class="col-sm-4 pull-right" style="padding: 0px;">
			<div style="padding: 0px;">
				<button class="btn btn-primary" style="width: 58px;"
						id="btnSave" ng-disabled="bbgpopup.isLoading || frmbbgid.$invalid || bbgpopup.selectedPosition.bbgId === bbgpopup.oldBbgId"
						ng-click="bbgpopup.save()">
					Save
					<i class="fa fa-floppy-o"></i>
				</button>

				<button class="btn btn-warning" style="width: 58px; padding-right: 0;" ng-click="bbgpopup.cancel()">
					Cancel
					<i class="fa fa-times"></i>
				</button>
			</div>
		</div>
	</div>
</div>
