<div class="modal-header">
    <h4>Confirm</h4>
</div>

<div class="modal-body" style="height: 100px">
    <div class="col-sm-12">
        <p>
            <b>Are you sure you want to set "{{confirm.matrixPoint}}" as your 
            new Matrix Point for "{{confirm.fundCode}}"?</b>
        </p>
    </div>
</div>

<div class="modal-footer" ng-class="{'alert-warning':watch.warning,'alert-error':watch.error}">
    <div class="col-sm-12">
        <div ng-hide="newpg.warning">
            <button class="btn btn-primary" id="btnConfirm"
                    ng-click="confirm.proceed()">
                Proceed
                <i class="fa fa-thumbs-up"></i>
            </button>

            <button class="btn btn-warning" ng-click="confirm.cancel()">
                Cancel
                <i class="fa fa-thumbs-down"></i>
            </button>
        </div>
    </div>
</div>
