<style>
    table tbody td {
        padding: 0 2px;
    }

    .rowselected {
        background-color: red;
    }

    .leftAlignCol {
        padding-left: 10px;
    }

    .rightAlignCol {
        padding-right: 10px;
    }

    div.ui-grid-cell input {
        padding: 5px;
    }

    .rowHighlight {
        background: lightgoldenrodyellow;
        border: 1px solid;
    }

    .rowHighlight1 {
        background: lightblue;
        border: 1px solid;
    }

    input.form-control {
        margin-bottom: 0px;
    }

    .panel-group {
        margin-bottom: 0px;
    }

    .red {
        text-align: right;
        background-color: yellow !important;
    }

    .highlightrowleft {
        text-align: left;
        background-color: lightblue !important;
    }

    .highlightrowright {
        text-align: right;
        background-color: lightblue !important;
    }

    .stalecolor {
        color: red !important;
    }
</style>

<div ng-show="dayoverchanges.isLoading" style="z-index: 2 !important; position: fixed !important; top: 50% !important; left: 50% !important;">
    <img src="{{dayoverchanges.appBasePath}}/Content/images/ajax-loader.gif" style="height: 50px; width: 50px" /><b>&nbsp;&nbsp;{{dayoverchanges.statusText}}...</b>
</div>

<div class="panel-group" style="margin-bottom:5px">
    <div class="panel-default panel panel-default panel-open">
        <div class="panel-default" is-open="true">
            <!--<uib-accordion-heading>-->
            <div class="panel-heading" style="cursor: pointer;">
                <div class="panel-title">
                    <div>
                        <div style="float:left"><i id="iconShowHide" class="fa fa-plus-circle" aria-hidden="true"></i></div>
                        <div style="align-content:center">
                            Day Over Changes
                        </div>
                    </div>
                </div>
            </div>
            <!--<end --uib-accordion-heading>-->
            <div class="panel-collapse in collapse" aria-hidden="false" style="height: auto;" id="divDayOverChangesSection">
                <div class="panel-body">
                    <div>
                        <ul id="dayOverChanges" class="nav nav-tabs dayOverChanges">
                            <li class="active"><a data-toggle="tab" href="#Current" target="_blank" style="padding: 3px 15px 3px !important;" ng-click="dayoverchanges.loadRatingChanges();" ng-disabled="dayoverchanges.isLoading">Rating Changes</a> </li>
                            <li><a data-toggle="tab" href="#Moody" target="_blank" style="padding: 3px 15px 3px !important;" ng-click="dayoverchanges.loadMoodyRecoveryDateChanges();" ng-disabled="dayoverchanges.isLoading">Moody Recovery Rate Change</a> </li>
                            <li><a data-toggle="tab" href="#ParChange" target="_blank" style="padding: 3px 15px 3px !important;" ng-click="dayoverchanges.loadTotalParChanges();" ng-disabled="dayoverchanges.isLoading">Total Par Change</a> </li>
                            <li><a data-toggle="tab" href="#PriceMover" target="_blank" style="padding: 3px 15px 3px !important;" ng-click="dayoverchanges.loadTopBottonPriceMovers();" ng-disabled="dayoverchanges.isLoading">Price Movers</a> </li>
                        </ul>
                        <div class="tab-content">
                            <!--<div ng-if="dayoverchanges.isRatingDataAvailable">
                                <div style="text-align:center;margin:10px">
                                    <h3 style="color:red">No Data Found!!!</h3>
                                </div>
                            </div>-->
                            <div style="max-height: 500px;overflow-y:auto;" id="Current" class="tab-pane fade in active">
                                <table class="table table-bordered noth table-3pxcondensed table-fixedheight" id="tblRateChanges" name="tblRateChanges"
                                       style="border-width: 0;margin-bottom: 0px;border-top-width: 0px">
                                    <thead>
                                        <tr ng-show="dayoverchanges.isRatingDataAvailable">
                                            <td colspan="16" style="border:0">
                                                <div style="text-align:center;margin:10px">
                                                    <h3 class="stalecolor">No Data Found!!!</h3>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr ng-show="!dayoverchanges.isRatingDataAvailable">
                                            <th style="text-align: left; padding: 0 20px 0 20px; border: 1px solid black;">
                                                Issuer
                                            </th>
                                            <th style="text-align: left; padding: 0 20px 0 20px; border: 1px solid black;">
                                                Total Exposure
                                            </th>
                                            <th style="border-left: 1px solid black; text-align: left; padding: 0 20px 0 20px; border: 1px solid black;">
                                                CFR Adj (New)
                                            </th>
                                            <th style="text-align: left; padding:  0 20px 0 20px; border: 1px solid black;">
                                                CFR Adj (Old)
                                            </th>
                                            <th style="border-left: 1px solid black; text-align: left; padding:  0 20px 0 20px; border: 1px solid black;">
                                                Facility (New)
                                            </th>
                                            <th style="text-align: left; padding:  0 20px 0 20px; border: 1px solid black;">
                                                Facility (Old)
                                            </th>
                                            <th style="border-left:1px solid black; text-align: left; padding:  0 20px 0 20px; border: 1px solid black;">
                                                S&P (New)
                                            </th>
                                            <th style="text-align: left; padding:  0 20px 0 20px; border: 1px solid black;">
                                                S&P (Old)
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="rating in dayoverchanges.ratingchanges" ng-show="!dayoverchanges.isRatingDataAvailable">
                                            <td style="text-align: left; padding:0 20px 0 20px;">{{rating.issuer}}</td>
                                            <td style="text-align: left; padding:  0 20px 0 20px;">{{rating.totalPar}}</td>
                                            <td style="border-left:1px solid black; text-align: left; padding:  0 20px 0 20px;">{{rating.moodyCFJAdjNew}}</td>
                                            <td style="text-align: left; padding:  0 20px 0 20px;">{{rating.moodyCFRAdjOld}}</td>
                                            <td style="border-left: 1px solid black; text-align: left; padding:  0 20px 0 20px;">{{rating.moodyFacitityRatingNew}}</td>
                                            <td style="text-align: left; padding:  0 20px 0 20px;">{{rating.moodyFacitityRatingOld}}</td>
                                            <td style="border-left:1px solid black; text-align: left; padding:  0 20px 0 20px;">{{rating.snPIssuerRatingNew}}</td>
                                            <td style="text-align: left; padding:  0 20px 0 20px;">{{rating.snPIssuerRatingOld}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="Moody" class="tab-pane fade" style="overflow-y:auto;">
                                <table class="table table-bordered noth table-3pxcondensed table-fixedheight" id="tblMoodyChanges" name="tblMoodyChanges"
                                       style="border-width: 0;margin-bottom: 0px;border-top-width: 0px">
                                    <thead>
                                        <tr ng-show="dayoverchanges.isMoodyDataAvailable">
                                            <td colspan="16" style="border:0">
                                                <div style="text-align:center;margin:10px">
                                                    <h3 class="stalecolor">No Data Found!!!</h3>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr ng-show="!dayoverchanges.isMoodyDataAvailable">
                                            <th style="border: 1px solid black; text-align: left; padding: 0 20px 0 20px; ">
                                                Fund
                                            </th>
                                            <th style="border: 1px solid black;  text-align: left; padding: 0 20px 0 20px; ">
                                                Old Recovery rate
                                            </th>
                                            <th style="border: 1px solid black;text-align: left; padding: 0 20px 0 20px;">
                                                New Recovery rate
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="change in dayoverchanges.moodyrecoverychanges" ng-show="!dayoverchanges.isMoodyDataAvailable">
                                            <td style="border: 1px solid black; text-align: left; padding: 0 20px 0 20px;">
                                                {{change.fund}}
                                            </td>
                                            <td style="border: 1px solid black; text-align: left; padding: 0 20px 0 20px;">
                                                {{change.oldRecovery}}
                                            </td>
                                            <td style="border: 1px solid black; text-align: left; padding: 0 20px 0 20px;">
                                                {{change.newRecovery}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="ParChange" class="tab-pane fade" style="overflow-y:auto;">
                                <table class="table table-bordered noth table-3pxcondensed table-fixedheight" id="tblParChanges" name="tblParChanges"
                                       style="border-width: 0;margin-bottom: 0px;border-top-width: 0px">
                                    <thead>
                                        <tr ng-show="dayoverchanges.isTotalParDataAvailable">
                                            <td colspan="16" style="border:0">
                                                <div style="text-align:center;margin:10px">
                                                    <h3 class="stalecolor">No Data Found!!!</h3>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr  ng-show="!dayoverchanges.isTotalParDataAvailable">
                                            <th style="text-align: left; padding:  0 20px 0 20px; border: 1px solid black;">
                                                Fund
                                            </th>
                                            <th style="text-align: left; padding:  0 20px 0 20px; border: 1px solid black;">
                                                Previous Day Total par
                                            </th>
                                            <th style="border-left:1px solid black; text-align: left; padding:  0 20px 0 20px;border: 1px solid black;">
                                                Current Day Total par
                                            </th>
                                            <th style="text-align: left; padding:  0 20px 0 20px; border: 1px solid black;">
                                                Total par Difference
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="change in dayoverchanges.totalparchanges"  ng-show="!dayoverchanges.isTotalParDataAvailable">
                                            <td style="text-align: left; padding:  0 20px 0 20px;">
                                                {{change.fund}}
                                            </td>
                                            <td style="text-align: right; padding:  0 20px 0 20px;">
                                                {{change.previous_TotalPar| number: 2}}
                                            </td>
                                            <td style="text-align: right; padding: 0 20px 0 20px;">
                                                {{change.current_TotalPar| number: 2}}
                                            </td>
                                            <td style="text-align: right; padding: 0 20px 0 20px;">
                                                {{change.totalPar_Diff| number: 2}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="PriceMover" class="tab-pane fade" style="overflow-y: auto; padding: 10px">
                                <div ng-if="dayoverchanges.topBottonPriceMovers.isStale">
                                    <div style="text-align:center;margin:10px">
                                        <h3 class="stalecolor">Stale</h3>
                                    </div>
                                </div>
                                <table class="table" id="tblMain" name="tblMain" style="border-width: 0;margin-bottom: 0px;border-top-width: 0px">
                                    <tr>
                                        <td>
                                            <table class=" table table-bordered" style="margin:0 10px; font: 12px/1em 'Open Sans' !important; color: #333; border-spacing: 0">
                                                <thead style="vertical-align:top;padding:3px">
                                                    <tr>
                                                        <td colspan="16" style="border:0">
                                                            <h2 style="padding-left:5px">Bottom: T-1</h2>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th style="padding:3px; border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;vertical-align:top;font-weight:bold;text-align:left;word-break:keep-all;">
                                                            ISSUER
                                                        </th>
                                                        <th style="padding:3px; border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;vertical-align:top;font-weight:bold;text-align:right;word-break:keep-all;">
                                                            TOTAL EXP
                                                        </th>
                                                        <th style="padding:3px; border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;vertical-align:top;font-weight:bold;text-align:right;word-break:keep-all;min-width:57px">
                                                            Px&nbsp;MOVE&nbsp;T-1
                                                        </th>
                                                        <th style="padding:3px; border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;vertical-align:top;font-weight:bold;text-align:right;word-break:keep-all;">
                                                            BID
                                                        </th>
                                                        <th style="padding:3px; border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;vertical-align:top;font-weight:bold;text-align:right;word-break:keep-all;">
                                                            COST
                                                        </th>
                                                        <th style="padding:3px; border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;vertical-align:top;border-right: 1px solid #ddd;font-weight:bold;text-align:left;word-break:keep-all;">
                                                            ADJ CFR
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <!--<tbody>-->
                                                <tr ng-repeat="daychange in dayoverchanges.topBottonPriceMovers.prevDayTop.slice(0,prevDayTopCount) track by $index">
                                                    <td style="border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;padding:3px;vertical-align:top;font-size:x-small;word-break:keep-all;">
                                                        {{daychange.issuer}}
                                                    </td>
                                                    <td style="border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;padding:3px;vertical-align:top;text-align:right;font-size:x-small;word-break:keep-all;">
                                                        {{daychange.totalPar|number :0}}
                                                    </td>
                                                    <td style="border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;padding:3px;vertical-align:top;text-align:right;font-size:x-small;word-break:keep-all;">
                                                        {{daychange.priceMove| number: 2}}
                                                    </td>
                                                    <td style="border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;padding:3px;vertical-align:top;text-align:right;font-size:x-small;word-break:keep-all;">
                                                        {{daychange.bid| number: 2}}
                                                    </td>
                                                    <td style="border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;padding:3px;vertical-align:top;text-align:right;font-size:x-small;word-break:keep-all;">
                                                        {{daychange.costPrice| number: 2}}
                                                    </td>
                                                    <td style="border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;padding:3px;vertical-align:top;font-size:x-small;word-break:keep-all;">
                                                        {{daychange.moodyCFR}}
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>
                                            <table class="table table-bordered" style="margin:0 10px; font: 12px/1em 'Open Sans' !important; color: #333; border-spacing: 0">
                                                <thead style="vertical-align:top;padding:3px">
                                                    <tr>
                                                        <td colspan="16" style="border:0">
                                                            <h2 style="padding-left:5px">Top: T-1</h2>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th style="padding:3px; border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;vertical-align:top;font-weight:bold;text-align:left;word-break:keep-all;">
                                                            ISSUER
                                                        </th>
                                                        <th style="padding:3px; border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;vertical-align:top;font-weight:bold;text-align:right;word-break:keep-all;">
                                                            TOTAL EXP
                                                        </th>
                                                        <th style="padding:3px; border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;vertical-align:top;font-weight:bold;text-align:right;word-break:keep-all;">
                                                            Px&nbsp;MOV&nbsp;T-1
                                                        </th>
                                                        <th style="padding:3px; border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;vertical-align:top;font-weight:bold;text-align:right;word-break:keep-all;">
                                                            BID
                                                        </th>
                                                        <th style="padding:3px; border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;vertical-align:top;font-weight:bold;text-align:right;word-break:keep-all;">
                                                            COST
                                                        </th>
                                                        <th style="padding:3px; border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;vertical-align:top;border-right: 1px solid #ddd;font-weight:bold;text-align:left;word-break:keep-all;">
                                                            ADJ CFR
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tr ng-repeat="daychange in dayoverchanges.topBottonPriceMovers.prevDayBottom.slice(0,prevDayBottomCount) track by $index">
                                                    <td style="border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;padding:3px;vertical-align:top;font-size:x-small;word-break:keep-all;">
                                                        {{daychange.issuer}}
                                                    </td>
                                                    <td style="border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;padding:3px;vertical-align:top;text-align:right;font-size:x-small;word-break:keep-all;">
                                                        {{daychange.totalPar|number :0}}
                                                    </td>
                                                    <td style="border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;padding:3px;vertical-align:top;text-align:right;font-size:x-small;word-break:keep-all;">
                                                        {{daychange.priceMove| number: 2}}
                                                    </td>
                                                    <td style="border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;padding:3px;vertical-align:top;text-align:right;font-size:x-small;word-break:keep-all;">
                                                        {{daychange.bid| number: 2}}
                                                    </td>
                                                    <td style="border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;padding:3px;vertical-align:top;text-align:right;font-size:x-small;word-break:keep-all;">
                                                        {{daychange.costPrice| number: 2}}
                                                    </td>
                                                    <td style="border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;padding:3px;vertical-align:top;font-size:x-small;word-break:keep-all;">
                                                        {{daychange.moodyCFR}}
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <table class=" table table-bordered" style="margin:0 10px; font: 12px/1em 'Open Sans' !important; color: #333; border-spacing: 0">
                                                <thead style="vertical-align:top;padding:3px">
                                                    <tr>
                                                        <td colspan="16" style="border:0">
                                                            <h2 style="padding-left:5px">Bottom: T-5</h2>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th style="padding:3px; border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;vertical-align:top;font-weight:bold;text-align:left;word-break:keep-all;">
                                                            ISSUER
                                                        </th>
                                                        <th style="padding:3px; border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;vertical-align:top;font-weight:bold;text-align:right;word-break:keep-all;">
                                                            TOTAL EXP
                                                        </th>
                                                        <th style="padding:3px; border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;vertical-align:top;font-weight:bold;text-align:right;word-break:keep-all;">
                                                            Px&nbsp;MOVE&nbsp;T-1
                                                        </th>
                                                        <th style="padding:3px; border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;vertical-align:top;font-weight:bold;text-align:right;word-break:keep-all;">
                                                            BID
                                                        </th>
                                                        <th style="padding:3px; border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;vertical-align:top;font-weight:bold;text-align:right;word-break:keep-all;">
                                                            COST
                                                        </th>
                                                        <th style="padding:3px; border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;vertical-align:top;border-right: 1px solid #ddd;font-weight:bold;text-align:left;word-break:keep-all;">
                                                            ADJ CFR
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <!--<tbody>-->
                                                <tr ng-repeat="daychange in dayoverchanges.topBottonPriceMovers.prev5DayTop.slice(0,prev5DayTopCount) track by $index">
                                                    <td style="border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;padding:3px;vertical-align:top;font-size:x-small;word-break:keep-all;">
                                                        {{daychange.issuer}}
                                                    </td>
                                                    <td style="border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;padding:3px;vertical-align:top;text-align:right;font-size:x-small;word-break:keep-all;">
                                                        {{daychange.totalPar|number :0}}
                                                    </td>
                                                    <td style="border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;padding:3px;vertical-align:top;text-align:right;font-size:x-small;word-break:keep-all;">
                                                        {{daychange.priceMove| number: 2}}
                                                    </td>
                                                    <td style="border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;padding:3px;vertical-align:top;text-align:right;font-size:x-small;word-break:keep-all;">
                                                        {{daychange.bid| number: 2}}
                                                    </td>
                                                    <td style="border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;padding:3px;vertical-align:top;text-align:right;font-size:x-small;word-break:keep-all;">
                                                        {{daychange.costPrice| number: 2}}
                                                    </td>
                                                    <td style="border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;padding:3px;vertical-align:top;font-size:x-small;word-break:keep-all;">
                                                        {{daychange.moodyCFR}}
                                                    </td>
                                                </tr>
                                                <!--<tr>
                                                    <td style="border:0" colspan="16">&nbsp;</td>
                                                </tr>-->
                                                <!--</tbody>-->
                                            </table>
                                        </td>
                                        <td>
                                            <table class="table table-bordered" style="margin:0 10px; font: 12px/1em 'Open Sans' !important; color: #333; border-spacing: 0">
                                                <thead style="vertical-align:top;padding:3px">
                                                    <tr>
                                                        <td colspan="16" style="border:0">
                                                            <h2 style="padding-left:5px">Top: T-5</h2>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th style="padding:3px; border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;vertical-align:top;font-weight:bold;text-align:left;word-break:keep-all;">
                                                            ISSUER
                                                        </th>
                                                        <th style="padding:3px; border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;vertical-align:top;font-weight:bold;text-align:right;word-break:keep-all;">
                                                            TOTAL EXP
                                                        </th>
                                                        <th style="padding:3px; border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;vertical-align:top;font-weight:bold;text-align:right;word-break:keep-all;">
                                                            Px&nbsp;MOV&nbsp;T-1
                                                        </th>
                                                        <th style="padding:3px; border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;vertical-align:top;font-weight:bold;text-align:right;word-break:keep-all;">
                                                            BID
                                                        </th>
                                                        <th style="padding:3px; border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;vertical-align:top;font-weight:bold;text-align:right;word-break:keep-all;">
                                                            COST
                                                        </th>
                                                        <th style="padding:3px; border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;vertical-align:top;border-right: 1px solid #ddd;font-weight:bold;text-align:left;word-break:keep-all;">
                                                            ADJ CFR
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tr ng-repeat="daychange in dayoverchanges.topBottonPriceMovers.prev5DayBottom.slice(0,prev5DayBottomCount) track by $index">
                                                    <td style="border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;padding:3px;vertical-align:top;font-size:x-small;word-break:keep-all;">
                                                        {{daychange.issuer}}
                                                    </td>
                                                    <td style="border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;padding:3px;vertical-align:top;text-align:right;font-size:x-small;word-break:keep-all;">
                                                        {{daychange.totalPar|number :0}}
                                                    </td>
                                                    <td style="border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;padding:3px;vertical-align:top;text-align:right;font-size:x-small;word-break:keep-all;">
                                                        {{daychange.priceMove| number: 2}}
                                                    </td>
                                                    <td style="border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;padding:3px;vertical-align:top;text-align:right;font-size:x-small;word-break:keep-all;">
                                                        {{daychange.bid| number: 2}}
                                                    </td>
                                                    <td style="border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;padding:3px;vertical-align:top;text-align:right;font-size:x-small;word-break:keep-all;">
                                                        {{daychange.costPrice| number: 2}}
                                                    </td>
                                                    <td style="border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;padding:3px;vertical-align:top;font-size:x-small;word-break:keep-all;">
                                                        {{daychange.moodyCFR}}
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
