<div class="modal-body" style="height: 200px">
    <div class="col-sm-12">
        <div class="radio">
			<label>
				<input type="radio" ng-disabled="paydown.paydown.inDeleteMode" ng-model="paydown.paydown.paydownObjectTypeId" ng-value="2" name="securitypaydown">For Issuer | {{paydown.paydown.issuer}}
			</label>
        </div>
    </div>
    <div class="col-sm-12" style="margin: 10px 0px">
        <div class="radio">
			<label>
				<input type="radio" ng-disabled="paydown.paydown.inDeleteMode" ng-model="paydown.paydown.paydownObjectTypeId" ng-value="1" name="securitypaydown">For Loan&nbsp;&nbsp;&nbsp;| {{paydown.paydown.securityCode}}
			</label>
        </div>
    </div>
    <div class="col-sm-12" style="padding-left: 35px">
        <label class="control-label" for="txtReasonForPaydown">
            Comments
        </label>
        <textarea rows="3" class="form-control" ng-disabled="paydown.paydown.inDeleteMode" ng-model="paydown.paydown.paydownComments" id="txtReasonForPaydown"></textarea>
    </div>

</div>
<div class="modal-footer" ng-class="{'alert-warning':paydown.warning,'alert-error':paydown.error}">
    <div class="col-sm-12">
        <div class="col-sm-7" style="text-align: left">
            <div ng-show="paydown.error" style="margin-bottom: 0">
                <b>Error: {{paydown.error}}</b>
            </div>
            <div ng-show="paydown.warning" style="margin-bottom: 0">
                <b>Warning: {{paydown.warning}}</b>
            </div>

            <div ng-show="paydown.isLoading">
                <label>{{paydown.statusText}}...</label>
                <img style="width: 26px; height: 26px;" height="26" width="26" ng-src="{{paydown.appBasePath}}/Content/Images/ajax-loader.gif" />
            </div>
        </div>
        <div class="col-sm-5">
            <div ng-hide="newpg.warning">
                <button class="btn btn-primary" id="btnSave" ng-hide="paydown.paydown.inDeleteMode" ng-disabled="(!paydown.paydown.paydownObjectTypeId) || paydown.isLoading "
                        ng-click="paydown.save()">
                    Save
                    <i class="fa fa-floppy-o"></i>
                </button>
                <button class="btn btn-primary" id="btnDelete" ng-show="paydown.paydown.inDeleteMode" ng-disabled="(!paydown.paydown.paydownObjectTypeId) || paydown.isLoading "
                        ng-click="paydown.delete()">
                    Delete
                    <i class="fa fa-trash"></i>
                </button>
                <button class="btn btn-warning" ng-click="paydown.cancel()">
                    Cancel
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
    </div>
</div>
