
<style>
    .panel-default .panel-body {
        padding: 0px;
    }

    .panel-default .panel-heading {
        text-align: center;
        padding: 6px;
    }

    .panel-default .panel-title {
        font-size: 12px;
    }
</style>
<div ng-show="researchpopup.isLoading" style="z-index: 2 !important; position: fixed !important; top: 50% !important; left: 50% !important;">
    <img src="{{researchpopup.appBasePath}}/Content/images/ajax-loader.gif" style="height: 50px; width: 50px" /><b>&nbsp;&nbsp;{{researchpopup.statusText}}...</b>
</div>
<div class="modal-body" style="min-height: 150px; max-height: 777px; overflow-y: auto">
    Trade History for <b>{{researchpopup.issuer}}</b> (<b>{{researchpopup.securitycode}}</b>)
    &nbsp;&nbsp;<button type="button" data-ng-click="researchpopup.exportExcel('tbl_tradeHistoryDetails', 'TradeHistoryExport')"> Export To CSV </button>
    <button type="button" class="close" data-dismiss="dialog" data-ng-click="researchpopup.cancel()" style="font-size: 18px !important;">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <div style="padding: 0px !important;">
        <div class="table-header" style="padding: 0px; max-height:{{44*researchpopup.tradeHistoryDetails.length}}px;">
            <table id="tbl_tradeHistoryDetails" class="table table-bordered table-3pxcondensed table-fixedheight" style="border-width: 0;margin-bottom: 0px">
                <thead>
                    <tr>
                        <th style="text-align: center; width: 90px; border-width: 1px 0px 1px 0px !important; border-top: 1px solid #dddddd;">Trade Date</th>
                        <th style="text-align: center; width: 120px; border-width: 1px 0px 1px 0px !important; border-top: 1px solid #dddddd">Trade Type</th>
                        <th style="text-align: left; width: 90px; border-width: 1px 0px 1px 0px !important; border-top: 1px solid #dddddd;">Fund</th>
                        <th style="text-align: right; width: 150px; border-width: 1px 0px 1px 0px !important; border-top: 1px solid #dddddd">Quantity</th>
                        <th style="text-align: right; width: 90px; border-width: 1px 0px 1px 0px !important; border-top: 1px solid #dddddd ">Price</th>
                        <th style="text-align: center; width: 120px; border-width: 1px 0px 1px 0px !important; border-top: 1px solid #dddddd">Counterparty</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="pointer" ng-repeat="hist in researchpopup.tradeHistoryDetails">
                        <td style="width: 90px; text-align: center; border-width: 0px 0px 1px 0px; ">
                            {{hist.tradeDate}}
                        </td>
                        <td style="width: 120px; text-align: center; border-width: 0px 0px 1px 0px;">
                            {{hist.tradeType}}
                        </td>
                        <td style="width: 90px; text-align: left; border-width: 0px 0px 1px 0px; ">
                            {{hist.portfolioName}}
                        </td>
                        <td style="width: 150px; text-align: right; border-width: 0px 0px 1px 0px;">
                            {{hist.quantity| number:2}}
                        </td>
                        <td style="width: 90px; text-align: right; border-width: 0px 0px 1px 0px;">
                            {{hist.price| number:3}}
                        </td>
                        <td style="width: 120px; text-align: center; border-width: 0px 0px 1px 0px;">
                            {{hist.counterparty}}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 90px;  text-align: center; border-width: 0px 0px 1px 0px;"></td>
                        <td style="width: 120px; text-align: center; border-width: 0px 0px 1px 0px;"></td>
                        <td style="width: 90px;  text-align: center; border-width: 0px 0px 1px 0px;"></td>
                        <td style="width: 150px; text-align: right; font-weight: bold; border-width: 0px 0px 1px 0px; ">Weighted Average Purchase Price</td>
                        <td style="width: 90px; text-align: right; font-weight:bold; border-width: 0px 0px 1px 0px;">{{researchpopup.weightedAveragePurchasePrice | number:3}}</td>
                        <td style="width: 120px; text-align: center; border-width: 0px 0px 1px 0px;"></td>
                    </tr>
                    <tr>
                        <td style="width: 90px;  text-align: center; border-width: 0px 0px 1px 0px;"></td>
                        <td style="width: 120px; text-align: center; border-width: 0px 0px 1px 0px;"></td>
                        <td style="width: 90px;  text-align: center; border-width: 0px 0px 1px 0px;"></td>
                        <td style="width: 150px; text-align: right; font-weight: bold; border-width: 0px 0px 1px 0px; ">Weighted Average Sell Price</td>
                        <td style="width: 90px; text-align: right; font-weight:bold; border-width: 0px 0px 1px 0px;">{{researchpopup.weightedAverageSellPrice | number:3}}</td>
                        <td style="width: 120px; text-align: center; border-width: 0px 0px 1px 0px;"></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
