@{
    ViewBag.Title = "Home Page";
}


<div ng-view="" style="margin-top: 20px">

</div>

@section PageScripts
{
    <script>
        function setFocus(element) {
            window.setTimeout(function () {
                var nextId = $(element).attr("data-next-focus-item");
                $(nextId).focus();
            });
        }


    </script>

    @Scripts.Render("~/bundles/AppJS")

}




