USE [Yoda]
GO
ALTER TABLE [CLO].[Country] DROP CONSTRAINT [DF__Country__LastUpd__031D3AFB]
GO
ALTER TABLE [CLO].[Country] DROP CONSTRAINT [DF__Country__Created__022916C2]
GO
/****** Object:  Table [CLO].[Country]    Script Date: 7/2/2021 5:17:42 AM ******/
DROP TABLE [CLO].[Country]
GO
/****** Object:  Table [CLO].[Country]    Script Date: 7/2/2021 5:17:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [CLO].[Country](
	[CountryId] [smallint] IDENTITY(1,1) NOT NULL,
	[CountryDesc] [varchar](100) NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[LastUpdatedOn] [datetime] NULL,
	[LastUpdatedBy] [varchar](100) NULL,
 CONSTRAINT [PK__Country__10D1609F0E53C4D1] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [CLO].[Country] ADD  CONSTRAINT [DF__Country__Created__022916C2]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [CLO].[Country] ADD  CONSTRAINT [DF__Country__LastUpd__031D3AFB]  DEFAULT (getdate()) FOR [LastUpdatedOn]
GO
