USE [Yoda]
GO
/****** Object:  Table [CLO].[FileImportColumnType]    Script Date: 7/2/2021 5:17:42 AM ******/
DROP TABLE [CLO].[FileImportColumnType]
GO
/****** Object:  Table [CLO].[FileImportColumnType]    Script Date: 7/2/2021 5:17:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [CLO].[FileImportColumnType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeDescription] [varchar](50) NOT NULL,
 CONSTRAINT [PK__FileImpo__3214EC0789867090] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__FileImpo__B0BEAA384944A931] UNIQUE NONCLUSTERED 
(
	[TypeDescription] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
