USE [Yoda]
GO
/****** Object:  View [CLO].[vw_Report_Funds]    Script Date: 7/2/2021 5:17:42 AM ******/
DROP VIEW [CLO].[vw_Report_Funds]
GO
/****** Object:  View [CLO].[vw_Report_Funds]    Script Date: 7/2/2021 5:17:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [CLO].[vw_Report_Funds]
AS 

SELECT f.FundCode, f.TargetPar,f.EquityPar,f.MgmtFees,f.OperatingExpenses,f.BloombergCode,f.PricingDate,f.ClosingDate,f.NonCallEndsDate,f.ReInvestEndDate,f.FinalMaturity,f.ProjectedEquityDistribtion,
fc.TimeToNonCallEnd,fc.TimeToReinvest,fc.Spread,fc.WACostOfDebt,fc.TotalManagementFees,Net = NULLIF((ISNULL(fc.Net,0)/100),0),fc.EquityLeverage,fc.AnnualExcessSpreadToEquity,fc.ClassDMVOC,fc.ClassEMVOC,fc.ClassFMVOC,fc.EquityNav,
fc.FundId,fc.DateId,fc.TotalDebt
FROM CLO.vw_Fund f WITH(NOLOCK)
JOIN CLO.FundCalculation fc WITH(NOLOCK) ON fc.FundId = f.FundId 
WHERE fc.DateId = CLO.GetPrevDayDateId()


GO
