USE [Yoda]
GO
/****** Object:  Table [CLO].[WatchType]    Script Date: 7/2/2021 5:17:42 AM ******/
DROP TABLE [CLO].[WatchType]
GO
/****** Object:  Table [CLO].[WatchType]    Script Date: 7/2/2021 5:17:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [CLO].[WatchType](
	[WatchTypeId] [int] IDENTITY(1,1) NOT NULL,
	[WatchTypeDescription] [varchar](100) NOT NULL,
 CONSTRAINT [PK_WatchType] PRIMARY KEY CLUSTERED 
(
	[WatchTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UX_WatchType_WatchTypeDescription] UNIQUE NONCLUSTERED 
(
	[WatchTypeDescription] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
