USE [Yoda]
GO
/****** Object:  Table [CLO].[AggregatedPosition]    Script Date: 7/2/2021 5:17:42 AM ******/
DROP TABLE [CLO].[AggregatedPosition]
GO
/****** Object:  Table [CLO].[AggregatedPosition]    Script Date: 7/2/2021 5:17:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [CLO].[AggregatedPosition](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PositionDateId] [int] NULL,
	[CLO1NumExposure] [numeric](32, 4) NULL,
	[CLO2NumExposure] [numeric](32, 4) NULL,
	[CLO3NumExposure] [numeric](32, 4) NULL,
	[CLO4NumExposure] [numeric](32, 4) NULL,
	[CLO5NumExposure] [numeric](32, 4) NULL,
	[CLO6NumExposure] [numeric](32, 4) NULL,
	[CLO7NumExposure] [numeric](32, 4) NULL,
	[CLO1Exposure] [varchar](50) NULL,
	[CLO2Exposure] [varchar](50) NULL,
	[CLO3Exposure] [varchar](50) NULL,
	[CLO4Exposure] [varchar](50) NULL,
	[CLO5Exposure] [varchar](50) NULL,
	[CLO6Exposure] [varchar](50) NULL,
	[CLO7Exposure] [varchar](50) NULL,
	[CLO1PctExposure] [varchar](50) NULL,
	[CLO2PctExposure] [varchar](50) NULL,
	[CLO3PctExposure] [varchar](50) NULL,
	[CLO4PctExposure] [varchar](50) NULL,
	[CLO5PctExposure] [varchar](50) NULL,
	[CLO6PctExposure] [varchar](50) NULL,
	[CLO7PctExposure] [varchar](50) NULL,
	[CLO1TargetPar] [numeric](32, 4) NULL,
	[CLO2TargetPar] [numeric](32, 4) NULL,
	[CLO3TargetPar] [numeric](32, 4) NULL,
	[CLO4TargetPar] [numeric](32, 4) NULL,
	[CLO5TargetPar] [numeric](32, 4) NULL,
	[CLO6TargetPar] [numeric](32, 4) NULL,
	[CLO7TargetPar] [numeric](32, 4) NULL,
	[SecurityId] [int] NOT NULL,
	[SecurityCode] [varchar](100) NULL,
	[SecurityDesc] [varchar](1000) NULL,
	[BBGId] [varchar](1000) NULL,
	[Issuer] [varchar](1000) NULL,
	[IssuerId] [int] NULL,
	[IssuerDesc] [varchar](1000) NULL,
	[Facility] [varchar](1000) NULL,
	[CallDate] [varchar](20) NULL,
	[CountryDesc] [varchar](50) NULL,
	[MaturityDate] [varchar](20) NULL,
	[SnpIndustry] [varchar](1000) NULL,
	[MoodyIndustry] [varchar](1000) NULL,
	[IsCovLite] [int] NULL,
	[IsFloating] [varchar](50) NULL,
	[LienType] [varchar](50) NULL,
	[IsOnWatch] [bit] NULL,
	[WatchObjectTypeId] [smallint] NULL,
	[WatchObjectId] [int] NULL,
	[WatchId] [int] NULL,
	[WatchComments] [varchar](500) NULL,
	[WatchLastUpdatedOn] [varchar](50) NULL,
	[WatchUser] [varchar](1000) NULL,
	[SellCandidateObjectTypeId] [smallint] NULL,
	[SellCandidateObjectId] [int] NULL,
	[SellCandidateId] [int] NULL,
	[SellCandidateComments] [varchar](500) NULL,
	[SellCandidateLastUpdatedOn] [varchar](50) NULL,
	[SellCandidateUser] [varchar](1000) NULL,
	[OrigSecurityCode] [varchar](1000) NULL,
	[OrigSecurityDesc] [varchar](1000) NULL,
	[OrigBBGId] [varchar](1000) NULL,
	[OrigIssuer] [varchar](1000) NULL,
	[OrigFacility] [varchar](1000) NULL,
	[OrigCallDate] [varchar](50) NULL,
	[OrigMaturityDate] [varchar](1000) NULL,
	[OrigSnpIndustry] [varchar](1000) NULL,
	[OrigMoodyIndustry] [varchar](1000) NULL,
	[OrigIsFloating] [varchar](50) NULL,
	[OrigLienType] [varchar](1000) NULL,
	[OrigMoodyFacilityRatingAdjusted] [varchar](1000) NULL,
	[OrigMoodyCashFlowRatingAdjusted] [varchar](1000) NULL,
	[Bid] [varchar](1000) NULL,
	[Offer] [varchar](1000) NULL,
	[BidNum] [numeric](32, 4) NULL,
	[OfferNum] [numeric](32, 4) NULL,
	[Spread] [numeric](28, 2) NULL,
	[LiborFloor] [numeric](28, 2) NULL,
	[MoodyCashFlowRating] [varchar](1000) NULL,
	[MoodyCashFlowRatingAdjusted] [varchar](1000) NULL,
	[MoodyFacilityRating] [varchar](1000) NULL,
	[MoodyRecovery] [numeric](32, 4) NULL,
	[SnPIssuerRating] [varchar](1000) NULL,
	[SnPIssuerRatingAdjusted] [varchar](1000) NULL,
	[SnPFacilityRating] [varchar](1000) NULL,
	[SnPfacilityRatingAdjusted] [varchar](1000) NULL,
	[SnPRecoveryRating] [varchar](1000) NULL,
	[MoodyOutlook] [varchar](1) NULL,
	[MoodyWatch] [varchar](1000) NULL,
	[SnPWatch] [varchar](1) NULL,
	[NextReportingDate] [varchar](20) NULL,
	[FiscalYearEndDate] [varchar](20) NULL,
	[YieldBid] [numeric](32, 2) NULL,
	[YieldOffer] [numeric](32, 2) NULL,
	[YieldMid] [numeric](32, 2) NULL,
	[CappedYieldBid] [numeric](32, 2) NULL,
	[CappedYieldOffer] [numeric](32, 2) NULL,
	[CappedYieldMid] [numeric](32, 2) NULL,
	[TargetYieldBid] [numeric](32, 2) NULL,
	[TargetYieldOffer] [numeric](32, 2) NULL,
	[TargetYieldMid] [numeric](32, 2) NULL,
	[BetterWorseBid] [numeric](32, 2) NULL,
	[BetterWorseOffer] [numeric](32, 2) NULL,
	[BetterWorseMid] [numeric](32, 2) NULL,
	[TotalCoupon] [numeric](32, 2) NULL,
	[WARF] [numeric](32, 2) NULL,
	[WARFRecovery] [numeric](32, 2) NULL,
	[Life] [numeric](32, 2) NULL,
	[TotalPar] [varchar](1000) NULL,
	[TotalParNum] [numeric](32, 4) NULL,
	[BODTotalPar] [numeric](32, 4) NULL,
	[MoodyFacilityRatingAdjusted] [varchar](1000) NULL,
	[CLOAnalyst] [varchar](1000) NULL,
	[HFAnalyst] [varchar](1000) NULL,
	[AsOfDate] [varchar](10) NULL,
	[CreditScore] [numeric](32, 4) NULL,
	[LiquidityScore] [numeric](32, 4) NULL,
	[OneLLeverage] [numeric](32, 4) NULL,
	[TotalLeverage] [varchar](1000) NULL,
	[EVMultiple] [varchar](1000) NULL,
	[LTMRevenues] [varchar](1000) NULL,
	[LTMEBITDA] [varchar](1000) NULL,
	[FCF] [varchar](1000) NULL,
	[Comments] [varchar](1000) NULL,
	[BusinessDescription] [varchar](1000) NULL,
	[AgentBank] [varchar](1000) NULL,
	[SecurityMaturityDate] [datetime] NULL,
	[IsOnAlert] [bit] NULL,
	[LTMFCF] [numeric](38, 2) NULL,
	[EnterpriseValue] [numeric](38, 2) NULL,
	[SeniorLeverage] [numeric](38, 2) NULL,
	[CostPrice] [varchar](1000) NULL,
	[CostPriceNum] [numeric](28, 10) NULL,
	[PrevDayBidNum] [numeric](28, 10) NULL,
	[PrevDayOfferNum] [numeric](28, 10) NULL,
	[PrevDayBid] [varchar](1000) NULL,
	[PrevDayOffer] [varchar](1000) NULL,
	[PriceMove] [numeric](28, 10) NULL,
	[SearchText] [varchar](1000) NULL,
	[LienTypeId] [smallint] NULL,
	[ScoreDescription] [varchar](1000) NULL,
	[GlobalAmount] [numeric](38, 4) NULL,
	[IsPrivate] [bit] NULL,
	[Sponsor] [varchar](1000) NULL,
	[CLO1MatrixImpliedSpread] [numeric](38, 4) NULL,
	[CLO2MatrixImpliedSpread] [numeric](38, 4) NULL,
	[CLO3MatrixImpliedSpread] [numeric](38, 4) NULL,
	[CLO4MatrixImpliedSpread] [numeric](38, 4) NULL,
	[CLO5MatrixImpliedSpread] [numeric](38, 4) NULL,
	[CLO6MatrixImpliedSpread] [numeric](38, 4) NULL,
	[CLO7MatrixImpliedSpread] [numeric](38, 4) NULL,
	[CLO1DifferentialImpliedSpread] [numeric](38, 4) NULL,
	[CLO2DifferentialImpliedSpread] [numeric](38, 4) NULL,
	[CLO3DifferentialImpliedSpread] [numeric](38, 4) NULL,
	[CLO4DifferentialImpliedSpread] [numeric](38, 4) NULL,
	[CLO5DifferentialImpliedSpread] [numeric](38, 4) NULL,
	[CLO6DifferentialImpliedSpread] [numeric](38, 4) NULL,
	[CLO7DifferentialImpliedSpread] [numeric](38, 4) NULL,
	[CLO1MatrixWarfRecovery] [numeric](38, 4) NULL,
	[CLO2MatrixWarfRecovery] [numeric](38, 4) NULL,
	[CLO3MatrixWarfRecovery] [numeric](38, 4) NULL,
	[CLO4MatrixWarfRecovery] [numeric](38, 4) NULL,
	[CLO5MatrixWarfRecovery] [numeric](38, 4) NULL,
	[CLO6MatrixWarfRecovery] [numeric](38, 4) NULL,
	[CLO7MatrixWarfRecovery] [numeric](38, 4) NULL,
	[zSnPAssetRecoveryRating] [varchar](2) NULL,
	[SnpWarf] [numeric](32, 8) NULL,
	[SnpLgd] [numeric](32, 8) NULL,
	[MoodysLgd] [numeric](32, 8) NULL,
	[YieldAvgLgd] [numeric](32, 8) NULL,
	[SnpAAARecovery] [numeric](32, 8) NULL,
	[SnpCreditWatch] [varchar](5) NULL,
	[LiborBaseRate] [varchar](50) NULL,
	[Fund-4 WARF] [numeric](32, 8) NULL,
	[CLO8NumExposure] [numeric](32, 4) NULL,
	[CLO8Exposure] [varchar](50) NULL,
	[CLO8PctExposure] [varchar](50) NULL,
	[CLO8TargetPar] [numeric](32, 4) NULL,
	[CLO8MatrixImpliedSpread] [numeric](38, 4) NULL,
	[CLO8DifferentialImpliedSpread] [numeric](38, 4) NULL,
	[CLO8MatrixWarfRecovery] [numeric](38, 4) NULL,
	[Fund-5 WARF] [numeric](32, 8) NULL,
	[LiborCategory] [varchar](50) NULL,
	[LiborTransitionNote] [varchar](1000) NULL,
	[Fund-4 MoodyRecovery] [numeric](32, 4) NULL,
	[Fund-5 MoodyRecovery] [numeric](32, 4) NULL,
	[IsInDefault] [bit] NULL,
	[DefaultDate] [datetime] NULL,
	[Fund-10 WARF] [numeric](32, 8) NULL,
	[Fund-10 MoodyRecovery] [numeric](32, 4) NULL,
	[Fund-2 WARF] [numeric](32, 8) NULL,
	[Fund-2 MoodyRecovery] [numeric](32, 4) NULL,
	[CLO9NumExposure] [numeric](32, 4) NULL,
	[CLO9Exposure] [varchar](50) NULL,
	[CLO9PctExposure] [varchar](50) NULL,
	[CLO9TargetPar] [numeric](32, 4) NULL,
	[CLO9MatrixImpliedSpread] [numeric](38, 4) NULL,
	[CLO9DifferentialImpliedSpread] [numeric](38, 4) NULL,
	[CLO9MatrixWarfRecovery] [numeric](38, 4) NULL,
	[Fund-1 WARF] [numeric](32, 8) NULL,
	[Fund-1 MoodyRecovery] [numeric](32, 4) NULL,
	[Fund-3 WARF] [numeric](32, 8) NULL,
	[Fund-3 MoodyRecovery] [numeric](32, 4) NULL,
	[Fund-7 WARF] [numeric](32, 8) NULL,
	[Fund-7 MoodyRecovery] [numeric](32, 4) NULL,
	[Fund-8 WARF] [numeric](32, 8) NULL,
	[Fund-8 MoodyRecovery] [numeric](32, 4) NULL,
	[Fund-9 WARF] [numeric](32, 8) NULL,
	[Fund-9 MoodyRecovery] [numeric](32, 4) NULL,
 CONSTRAINT [PK_AggregatedPositions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_AggregatedPositions_PositionDateId,SecurityId] UNIQUE NONCLUSTERED 
(
	[PositionDateId] ASC,
	[SecurityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
