<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  
  <appSettings>
    <add key="URL" value="http://Yorknet/clo/home/topbottompricemovers"/>
    <add key="Subject" value="Price Movers as of {date}"/>
    <add key="ToEmailIds" value="ssingh@yorkcapital.com"/>
    <add key="CCEmailIds" value="ssingh@yorkcapital.com"/>
    
    <add key="ReplyToName" value="CLO Support"/>
    <add key="ReplyToEmail" value="ssingh@yorkcapital.com"/>
    <add key="CLOSupportName" value="CLO Support"/>
    <add key="CLOSupportEmail" value="closupport@yorkcapital.com"/>    
  </appSettings>
  
  <system.net>
    <mailSettings>
      <smtp>
        <network host="webmail.yorkcapital.com" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
