/*------------------------------------------------------------------

[Responsive Stylesheet]

[Table of contents]

	1. Max Width: 767px
	2. Max Width: 1200px
	3. Max Width: 979px

-------------------------------------------------------------------*/
.only-mobile-device {
  display: none !important;
}
.only-non-mobile-device {
  display: block !important;
}
/*------------------------------------------------------------------
[2. Max Width: 1200px]
*/
.navbar .search-query {
  width: 200px;
}
.phone-list-card-height {
  height: 170px !important;
}
.subnavbar .container > ul > li > a {
  padding: 0 15px;
}
.subnavbar .container > ul > li {
  min-width: 90px !important;
}
.subnavbar .container > ul > li > a > i {
  width: 20px !important;
  height: 20px !important;
}
