USE [DataMarts]
GO
ALTER TABLE [dbo].[WsoExtractAsset] DROP CONSTRAINT [FK_WsoAsset_WsoDatasets]
GO
/****** Object:  Table [dbo].[WsoExtractAsset]    Script Date: 7/2/2021 5:19:07 AM ******/
DROP TABLE [dbo].[WsoExtractAsset]
GO
/****** Object:  Table [dbo].[WsoExtractAsset]    Script Date: 7/2/2021 5:19:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WsoExtractAsset](
	[ExtractAssetKey] [int] IDENTITY(1,1) NOT NULL,
	[DatasetKey] [int] NOT NULL,
	[DateId] [int] NOT NULL,
	[AssetId] [varchar](50) NOT NULL,
	[Asset] [varchar](100) NULL,
	[ABSAverageLifeCollateralDescriptor] [decimal](28, 9) NULL,
	[ABSCategory] [varchar](50) NULL,
	[ABSCurrentFactor] [decimal](28, 9) NULL,
	[ABSSpecificCode] [int] NULL,
	[ABSType] [varchar](50) NULL,
	[AccretedValue] [decimal](28, 9) NULL,
	[AccretionFactor] [decimal](28, 9) NULL,
	[AccruedFees] [decimal](28, 9) NULL,
	[AccruedInterest] [decimal](28, 9) NULL,
	[AggregateAmortCost] [decimal](28, 9) NULL,
	[AssetCategoryMoody] [varchar](100) NULL,
	[AssetCategorySP] [varchar](100) NULL,
	[AssetType] [varchar](50) NULL,
	[AttachedEquity] [varchar](100) NULL,
	[AvgLife] [decimal](28, 9) NULL,
	[CalculationAmount] [decimal](28, 9) NULL,
	[CalculationAmount2] [decimal](28, 9) NULL,
	[CalculationAmount3] [decimal](28, 9) NULL,
	[CalendarID] [int] NULL,
	[CallDate] [datetime] NULL,
	[CapitalizedInterest] [decimal](28, 9) NULL,
	[ConvertibleType] [varchar](100) NULL,
	[Convexity] [decimal](28, 9) NULL,
	[CostBasis] [varchar](100) NULL,
	[CostPrice] [decimal](28, 9) NULL,
	[CountryOfOperation] [varchar](200) NULL,
	[CouponType] [varchar](100) NULL,
	[CreditLinkedAmount] [decimal](28, 9) NULL,
	[CreditLinkedCounterInstitution] [varchar](200) NULL,
	[CurrencyOther] [varchar](100) NULL,
	[CurrencyTypeID] [int] NULL,
	[CurrentYield] [decimal](28, 9) NULL,
	[CurrentYTM] [decimal](28, 9) NULL,
	[CurrentYTW] [decimal](28, 9) NULL,
	[CUSIP] [varchar](50) NULL,
	[DateOffset] [int] NULL,
	[DayCount] [int] NULL,
	[DefaultDate] [datetime] NULL,
	[DefaultProbabilityMoody] [decimal](28, 9) NULL,
	[DefaultType] [varchar](100) NULL,
	[Description] [varchar](200) NULL,
	[EarnedInterest] [decimal](28, 9) NULL,
	[EmergingMarketRegion] [varchar](100) NULL,
	[ExclusionAmountMoody] [decimal](28, 9) NULL,
	[ExclusionAmountSP] [decimal](28, 9) NULL,
	[ExpectedLossMoody] [decimal](28, 9) NULL,
	[FacilityType] [varchar](100) NULL,
	[FirstPaymentDate] [datetime] NULL,
	[FirstSettleDate] [datetime] NULL,
	[FixedRate] [decimal](28, 9) NULL,
	[Frequency] [int] NULL,
	[Guarantor] [varchar](200) NULL,
	[Insurer] [varchar](200) NULL,
	[InterestAccrualDate] [datetime] NULL,
	[InterestAndFeesProjected] [decimal](28, 9) NULL,
	[InterestAndFeesProjectedForNextPeriod] [decimal](28, 9) NULL,
	[InterestAndFeesToDate] [decimal](28, 9) NULL,
	[InterestAndFeesToDateForNextPeriod] [decimal](28, 9) NULL,
	[IsABS] [bit] NULL,
	[IsBankruptcyRelated] [bit] NOT NULL,
	[IsBridgeSecurity] [bit] NOT NULL,
	[IsCallable] [bit] NULL,
	[IsConflictOfInterest] [bit] NOT NULL,
	[IsConvertible] [bit] NOT NULL,
	[IsCreditAvailable] [bit] NOT NULL,
	[IsCreditDefaultSwap] [bit] NOT NULL,
	[IsCurrentPay] [bit] NOT NULL,
	[IsDeepDiscount] [bit] NOT NULL,
	[IsDefeased] [bit] NOT NULL,
	[IsDeferredInterestOutstanding] [bit] NOT NULL,
	[IsDeferredInterestAllowed] [bit] NOT NULL,
	[IsDerivative] [bit] NOT NULL,
	[IsDIP] [bit] NOT NULL,
	[IsEligibleInvestment] [bit] NOT NULL,
	[IsEmergingMarket] [bit] NOT NULL,
	[IsEnhancedBond] [bit] NULL,
	[IsEstimatedRatingFitch] [bit] NOT NULL,
	[IsEstimatedRatingMoody] [bit] NOT NULL,
	[IsEstimatedRatingSP] [bit] NOT NULL,
	[IsException] [bit] NOT NULL,
	[IsFXRisk] [bit] NOT NULL,
	[IsGovtSponsored] [bit] NOT NULL,
	[IsGuaranteed] [bit] NULL,
	[IsHedged] [bit] NOT NULL,
	[ISIN] [varchar](50) NULL,
	[IsInDefault] [bit] NOT NULL,
	[IsIO] [bit] NULL,
	[IsLBOFund] [bit] NOT NULL,
	[IsLBR6MOAgent] [bit] NOT NULL,
	[IsLBR6MOMajor] [bit] NOT NULL,
	[IsLBR6MOSuper] [bit] NOT NULL,
	[IsLeaseFinancingTransaction] [bit] NOT NULL,
	[IsMezzanine] [bit] NOT NULL,
	[IsMostSenior] [bit] NULL,
	[IsOffer] [bit] NOT NULL,
	[IsOriginal] [bit] NOT NULL,
	[IsPIKSecurity] [bit] NOT NULL,
	[IsPO] [bit] NULL,
	[IsPreferredSecurity] [bit] NOT NULL,
	[IsRatingFitchDerived] [bit] NOT NULL,
	[IsRatingMoodyDerived] [bit] NOT NULL,
	[IsRatingSPDerived] [bit] NOT NULL,
	[IsResecuritization] [bit] NOT NULL,
	[IsRestructured] [bit] NULL,
	[IsSFO] [bit] NOT NULL,
	[IsSovereign] [bit] NOT NULL,
	[IsSpecialSituation] [bit] NOT NULL,
	[IsSPVJurisdiction] [bit] NOT NULL,
	[Issuer] [varchar](255) NULL,
	[IssueDate] [datetime] NULL,
	[IssueSize] [decimal](28, 9) NULL,
	[IssuingTransaction] [varchar](255) NULL,
	[IsSynthetic] [bit] NOT NULL,
	[IsSyntheticCounterInstitutionInDefault] [bit] NOT NULL,
	[IsTaxJurisdiction] [bit] NOT NULL,
	[LCAmount] [decimal](28, 9) NULL,
	[LeadUnderwriter] [varchar](200) NULL,
	[LiborOptionExists] [bit] NOT NULL,
	[LienType] [varchar](50) NULL,
	[Liquidity] [varchar](100) NULL,
	[LongDatedAmount] [decimal](28, 9) NULL,
	[LossRateMoody] [decimal](28, 9) NULL,
	[LossSeverityMoody] [decimal](28, 9) NULL,
	[MacaulayDuration] [decimal](28, 9) NULL,
	[MarkDate] [datetime] NULL,
	[MarketValue] [decimal](28, 9) NULL,
	[MarketValueAdjustedMoody] [decimal](28, 9) NULL,
	[MarketValueAdjustedSP] [decimal](28, 9) NULL,
	[MarketValueOCMoody] [decimal](28, 9) NULL,
	[MarketValueOCSP] [decimal](28, 9) NULL,
	[MarketValueSettleTrue] [decimal](28, 9) NULL,
	[MarkFactor] [int] NULL,
	[MarkPrice] [decimal](28, 14) NULL,
	[MaturityDate] [datetime] NULL,
	[MaturityExceptions] [varchar](100) NULL,
	[ModDuration] [decimal](28, 9) NULL,
	[NextPaymentDate] [datetime] NULL,
	[OriginalCapPercent] [decimal](28, 9) NULL,
	[OriginalPAPI] [decimal](28, 9) NULL,
	[Outstanding] [decimal](28, 9) NULL,
	[OutstandingAdjusted] [decimal](28, 9) NULL,
	[PAI] [decimal](28, 9) NULL,
	[ParAmount] [decimal](28, 9) NULL,
	[ParAmountTraded] [decimal](28, 9) NULL,
	[PaymentNonBusinessDirection] [int] NULL,
	[PaymentOffsetDays] [int] NULL,
	[PaymentOffsetDirection] [int] NULL,
	[PaymentOffsetType] [int] NULL,
	[PIKBeginDate] [datetime] NULL,
	[PIKCapInterest] [decimal](28, 9) NULL,
	[PIKMargin] [decimal](28, 9) NULL,
	[PIKPercentage] [decimal](28, 9) NULL,
	[PrimeOptionExists] [bit] NOT NULL,
	[PrincipalBalance] [decimal](28, 9) NULL,
	[PrincipalBalanceEI] [decimal](28, 9) NULL,
	[PriorityCategoryFitch] [int] NULL,
	[PriorityCategoryMoody] [int] NULL,
	[PriorityCategorySP] [int] NULL,
	[PutDate] [datetime] NULL,
	[Quantity] [decimal](28, 9) NULL,
	[RateAdjustFreq] [int] NULL,
	[RateOption] [varchar](100) NULL,
	[RatingMoody] [varchar](50) NULL,
	[RatingMoodyAtIssuance] [varchar](50) NULL,
	[RatingMoodyDerived] [varchar](50) NULL,
	[RatingMoodyIssuance] [varchar](50) NULL,
	[RatingMoodySecurity] [varchar](50) NULL,
	[RatingMoodyShort] [varchar](50) NULL,
	[RatingFitch] [varchar](50) NULL,
	[RatingFitchAtIssuance] [varchar](50) NULL,
	[RatingFitchDerived] [varchar](50) NULL,
	[RatingFitchSecurity] [varchar](50) NULL,
	[RatingSP] [varchar](50) NULL,
	[RatingSPAtIssuance] [varchar](50) NULL,
	[RatingSPDerived] [varchar](50) NULL,
	[RatingSPSecurity] [varchar](50) NULL,
	[RatingSPShort] [varchar](50) NULL,
	[RatingDCR] [varchar](50) NULL,
	[RatingDCRDerived] [varchar](50) NULL,
	[Region] [varchar](100) NULL,
	[RecoveryRateFitch] [decimal](28, 9) NULL,
	[RecoveryRateMoody] [decimal](28, 9) NULL,
	[RecoveryRateSP] [decimal](28, 9) NULL,
	[ReferenceAssetID] [varchar](50) NULL,
	[RegistrationType] [varchar](100) NULL,
	[SecurityID] [varchar](100) NULL,
	[SecurityLevel] [varchar](100) NULL,
	[SecurityLevelFitch] [varchar](100) NULL,
	[SecurityLevelMoody] [varchar](100) NULL,
	[SecurityLevelSP] [varchar](100) NULL,
	[SelfPurchasedAmount] [decimal](28, 9) NULL,
	[Servicer] [varchar](200) NULL,
	[SFOType] [varchar](100) NULL,
	[SpreadLibor] [decimal](28, 9) NULL,
	[SpreadPrime] [decimal](28, 9) NULL,
	[StdDevMoody] [decimal](28, 9) NULL,
	[SyntheticCounterInstitution] [varchar](200) NULL,
	[SyntheticType] [varchar](100) NULL,
	[TradesWithAccrued] [bit] NULL,
	[TransferAgent] [varchar](200) NULL,
	[UpgradedDowngraded] [varchar](100) NULL,
	[WeightedAvgAllInRate] [decimal](28, 9) NULL,
	[WeightedAvgSpread] [decimal](28, 9) NULL,
	[WeightedAvgDaysToReset] [decimal](28, 9) NULL,
	[WeightedAvgDaysToResetAmount] [decimal](28, 9) NULL,
	[YieldToWorst] [decimal](28, 9) NULL,
	[YTM] [decimal](28, 9) NULL,
	[YTW] [decimal](28, 9) NULL,
	[UserAmount1] [decimal](28, 9) NULL,
	[UserAmount2] [decimal](28, 9) NULL,
	[UserAmount3] [decimal](28, 9) NULL,
	[UserAmount4] [decimal](28, 9) NULL,
	[UserAmount5] [decimal](28, 9) NULL,
	[UserAmount6] [decimal](28, 9) NULL,
	[UserAmount7] [decimal](28, 9) NULL,
	[UserAmount8] [decimal](28, 9) NULL,
	[UserAmount9] [decimal](28, 9) NULL,
	[UserAmount10] [decimal](28, 9) NULL,
	[UserAmount11] [decimal](28, 9) NULL,
	[UserAmount12] [decimal](28, 9) NULL,
	[UserAmount13] [decimal](28, 9) NULL,
	[UserAmount14] [decimal](28, 9) NULL,
	[UserAmount15] [decimal](28, 9) NULL,
	[UserAmount16] [decimal](28, 9) NULL,
	[UserAmount17] [decimal](28, 9) NULL,
	[UserAmount18] [decimal](28, 9) NULL,
	[UserAmount19] [decimal](28, 9) NULL,
	[UserAmount20] [decimal](28, 9) NULL,
	[UserFlag1] [bit] NULL,
	[UserFlag2] [bit] NULL,
	[UserFlag3] [bit] NULL,
	[UserFlag4] [bit] NULL,
	[UserFlag5] [bit] NULL,
	[UserFlag6] [bit] NULL,
	[UserFlag7] [bit] NULL,
	[UserFlag8] [bit] NULL,
	[UserFlag9] [bit] NULL,
	[UserFlag10] [bit] NULL,
	[UserFlag11] [bit] NULL,
	[UserFlag12] [bit] NULL,
	[UserFlag13] [bit] NULL,
	[UserFlag14] [bit] NULL,
	[UserFlag15] [bit] NULL,
	[UserFlag16] [bit] NULL,
	[UserFlag17] [bit] NULL,
	[UserFlag18] [bit] NULL,
	[UserFlag19] [bit] NULL,
	[UserFlag20] [bit] NULL,
	[UserString1] [varchar](100) NULL,
	[UserString2] [varchar](100) NULL,
	[UserString3] [varchar](100) NULL,
	[UserString4] [varchar](100) NULL,
	[UserString5] [varchar](100) NULL,
	[UserString6] [varchar](100) NULL,
	[UserString7] [varchar](100) NULL,
	[UserString8] [varchar](100) NULL,
	[UserString9] [varchar](100) NULL,
	[UserString10] [varchar](100) NULL,
	[UserPercentage1] [float] NULL,
	[UserPercentage2] [float] NULL,
	[UserPercentage3] [float] NULL,
	[UserPercentage4] [float] NULL,
	[UserPercentage5] [float] NULL,
	[UserDecimal1] [decimal](28, 9) NULL,
	[UserDecimal2] [decimal](28, 9) NULL,
	[UserDecimal3] [decimal](28, 9) NULL,
	[UserDecimal4] [decimal](28, 9) NULL,
	[UserDecimal5] [decimal](28, 9) NULL,
	[UserNumber1] [int] NULL,
	[UserNumber2] [int] NULL,
	[UserNumber3] [int] NULL,
	[UserNumber4] [int] NULL,
	[UserNumber5] [int] NULL,
	[UserDate1] [datetime] NULL,
	[UserDate2] [datetime] NULL,
	[UserDate3] [datetime] NULL,
	[UserDate4] [datetime] NULL,
	[UserDate5] [datetime] NULL,
	[FacilityIncrease] [decimal](28, 9) NULL,
	[ParAmountNativeHypo] [decimal](28, 9) NULL,
	[OutstandingNativeHypo] [decimal](28, 9) NULL,
	[BankDeal_GlobalAmount] [decimal](28, 9) NULL,
	[ExcessCurrentPay] [decimal](28, 9) NULL,
	[ExcessMoodyCaa] [decimal](28, 9) NULL,
	[ExcessSPCCC] [decimal](28, 9) NULL,
	[FeeSpread] [decimal](28, 9) NULL,
	[InterestFromReinvestment] [decimal](28, 9) NULL,
	[IsDelayedDraw] [bit] NULL,
	[IsRatingMoodyPending] [bit] NULL,
	[LiborBaseRateFloor] [decimal](28, 9) NULL,
	[MarkPrice_BidPrice] [decimal](28, 14) NULL,
	[PaymentDate] [datetime] NULL,
	[PrimarySpread] [decimal](28, 9) NULL,
	[PrimarySpreadType] [nvarchar](255) NULL,
	[PrimeBaseRateFloor] [decimal](28, 9) NULL,
	[PriorityCategorySPI] [int] NULL,
	[PriorityCategorySPII] [int] NULL,
	[PriorityCategorySPIII] [int] NULL,
	[PriorityCategorySPIV] [int] NULL,
	[PriorityCategorySPV] [int] NULL,
	[PriorityCategorySPVI] [int] NULL,
	[RatingMoodyIsShadow] [bit] NULL,
	[RatingMoodyIssue] [nvarchar](255) NULL,
	[RatingSPIssue] [nvarchar](255) NULL,
	[RatingSPIssueCreditWatch] [nvarchar](255) NULL,
	[RecoveryAmountCurrentPay] [decimal](28, 9) NULL,
	[RecoveryAmountMoodyCaa] [decimal](28, 9) NULL,
	[RecoveryAmountSPCCC] [decimal](28, 9) NULL,
	[RecoveryRateMoodyFeed] [decimal](28, 9) NULL,
	[RecoveryRateSPI] [decimal](28, 9) NULL,
	[RecoveryRateSPII] [decimal](28, 9) NULL,
	[RecoveryRateSPIII] [decimal](28, 9) NULL,
	[RecoveryRateSPIV] [decimal](28, 9) NULL,
	[RecoveryRateSPV] [decimal](28, 9) NULL,
	[RecoveryRateSPVI] [decimal](28, 9) NULL,
	[UserString11] [nvarchar](255) NULL,
	[UserString12] [nvarchar](255) NULL,
	[UserString13] [nvarchar](255) NULL,
	[UserString14] [nvarchar](255) NULL,
	[UserString15] [nvarchar](255) NULL,
	[UserString16] [nvarchar](255) NULL,
	[CoreSystem] [varchar](100) NULL,
	[RecordModified] [bit] NULL,
	[Scenario] [smallint] NULL,
	[MarkPrice_AskPrice] [decimal](28, 9) NULL,
	[RatingMoodyIssueCreditWatch] [nvarchar](255) NULL,
	[UserPercentage6] [float] NULL,
	[CapitalizedInterestOrig] [decimal](28, 9) NULL,
	[SnPAssetRecoveryRating] [varchar](255) NULL,
 CONSTRAINT [PK_WsoAsset] PRIMARY KEY NONCLUSTERED 
(
	[ExtractAssetKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[WsoExtractAsset]  WITH NOCHECK ADD  CONSTRAINT [FK_WsoAsset_WsoDatasets] FOREIGN KEY([DatasetKey])
REFERENCES [dbo].[WsoDatasets] ([DatasetKey])
GO
ALTER TABLE [dbo].[WsoExtractAsset] CHECK CONSTRAINT [FK_WsoAsset_WsoDatasets]
GO
