USE [DataMarts]
GO
/****** Object:  View [WSO].[ExtractAsset]    Script Date: 7/2/2021 5:19:07 AM ******/
DROP VIEW [WSO].[ExtractAsset]
GO
/****** Object:  View [WSO].[ExtractAsset]    Script Date: 7/2/2021 5:19:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [WSO].[ExtractAsset]
AS
SELECT [ExtractAssetKey]
      ,[DatasetKey]
      ,[DateId]
      ,[AssetId]
      ,[Asset]
      ,[ABSAverageLifeCollateralDescriptor]
      ,[ABSCategory]
      ,[ABSCurrentFactor]
      ,[ABSSpecificCode]
      ,[ABSType]
      ,[AccretedValue]
      ,[AccretionFactor]
      ,[AccruedFees]
      ,[AccruedInterest]
      ,[AggregateAmortCost]
      ,[AssetCategoryMoody]
      ,[AssetCategorySP]
      ,[AssetType]
      ,[AttachedEquity]
      ,[AvgLife]
      ,[CalculationAmount]
      ,[CalculationAmount2]
      ,[CalculationAmount3]
      ,[CalendarID]
      ,[CallDate]
      ,[CapitalizedInterest]
      ,[ConvertibleType]
      ,[Convexity]
      ,[CostBasis]
      ,[CostPrice]
      ,[CountryOfOperation]
      ,[CouponType]
      ,[CreditLinkedAmount]
      ,[CreditLinkedCounterInstitution]
      ,[CurrencyOther]
      ,[CurrencyTypeID]
      ,[CurrentYield]
      ,[CurrentYTM]
      ,[CurrentYTW]
      ,[CUSIP]
      ,[DateOffset]
      ,[DayCount]
      ,[DefaultDate]
      ,[DefaultProbabilityMoody]
      ,[DefaultType]
      ,[Description]
      ,[EarnedInterest]
      ,[EmergingMarketRegion]
      ,[ExclusionAmountMoody]
      ,[ExclusionAmountSP]
      ,[ExpectedLossMoody]
      ,[FacilityType]
      ,[FirstPaymentDate]
      ,[FirstSettleDate]
      ,[FixedRate]
      ,[Frequency]
      ,[Guarantor]
      ,[Insurer]
      ,[InterestAccrualDate]
      ,[InterestAndFeesProjected]
      ,[InterestAndFeesProjectedForNextPeriod]
      ,[InterestAndFeesToDate]
      ,[InterestAndFeesToDateForNextPeriod]
      ,[IsABS]
      ,[IsBankruptcyRelated]
      ,[IsBridgeSecurity]
      ,[IsCallable]
      ,[IsConflictOfInterest]
      ,[IsConvertible]
      ,[IsCreditAvailable]
      ,[IsCreditDefaultSwap]
      ,[IsCurrentPay]
      ,[IsDeepDiscount]
      ,[IsDefeased]
      ,[IsDeferredInterestOutstanding]
      ,[IsDeferredInterestAllowed]
      ,[IsDerivative]
      ,[IsDIP]
      ,[IsEligibleInvestment]
      ,[IsEmergingMarket]
      ,[IsEnhancedBond]
      ,[IsEstimatedRatingFitch]
      ,[IsEstimatedRatingMoody]
      ,[IsEstimatedRatingSP]
      ,[IsException]
      ,[IsFXRisk]
      ,[IsGovtSponsored]
      ,[IsGuaranteed]
      ,[IsHedged]
      ,[ISIN]
      ,[IsInDefault]
      ,[IsIO]
      ,[IsLBOFund]
      ,[IsLBR6MOAgent]
      ,[IsLBR6MOMajor]
      ,[IsLBR6MOSuper]
      ,[IsLeaseFinancingTransaction]
      ,[IsMezzanine]
      ,[IsMostSenior]
      ,[IsOffer]
      ,[IsOriginal]
      ,[IsPIKSecurity]
      ,[IsPO]
      ,[IsPreferredSecurity]
      ,[IsRatingFitchDerived]
      ,[IsRatingMoodyDerived]
      ,[IsRatingSPDerived]
      ,[IsResecuritization]
      ,[IsRestructured]
      ,[IsSFO]
      ,[IsSovereign]
      ,[IsSpecialSituation]
      ,[IsSPVJurisdiction]
      ,[Issuer]
      ,[IssueDate]
      ,[IssueSize]
      ,[IssuingTransaction]
      ,[IsSynthetic]
      ,[IsSyntheticCounterInstitutionInDefault]
      ,[IsTaxJurisdiction]
      ,[LCAmount]
      ,[LeadUnderwriter]
      ,[LiborOptionExists]
      ,[LienType]
      ,[Liquidity]
      ,[LongDatedAmount]
      ,[LossRateMoody]
      ,[LossSeverityMoody]
      ,[MacaulayDuration]
      ,[MarkDate]
      ,[MarketValue]
      ,[MarketValueAdjustedMoody]
      ,[MarketValueAdjustedSP]
      ,[MarketValueOCMoody]
      ,[MarketValueOCSP]
      ,[MarketValueSettleTrue]
      ,[MarkFactor]
      ,[MarkPrice]
      ,[MaturityDate]
      ,[MaturityExceptions]
      ,[ModDuration]
      ,[NextPaymentDate]
      ,[OriginalCapPercent]
      ,[OriginalPAPI]
      ,[Outstanding]
      ,[OutstandingAdjusted]
      ,[PAI]
      ,[ParAmount]
      ,[ParAmountTraded]
      ,[PaymentNonBusinessDirection]
      ,[PaymentOffsetDays]
      ,[PaymentOffsetDirection]
      ,[PaymentOffsetType]
      ,[PIKBeginDate]
      ,[PIKCapInterest]
      ,[PIKMargin]
      ,[PIKPercentage]
      ,[PrimeOptionExists]
      ,[PrincipalBalance]
      ,[PrincipalBalanceEI]
      ,[PriorityCategoryFitch]
      ,[PriorityCategoryMoody]
      ,[PriorityCategorySP]
      ,[PutDate]
      ,[Quantity]
      ,[RateAdjustFreq]
      ,[RateOption]
      ,[RatingMoody]
      ,[RatingMoodyAtIssuance]
      ,[RatingMoodyDerived]
      ,[RatingMoodyIssuance]
      ,[RatingMoodySecurity]
      ,[RatingMoodyShort]
      ,[RatingFitch]
      ,[RatingFitchAtIssuance]
      ,[RatingFitchDerived]
      ,[RatingFitchSecurity]
      ,[RatingSP]
      ,[RatingSPAtIssuance]
      ,[RatingSPDerived]
      ,[RatingSPSecurity]
      ,[RatingSPShort]
      ,[RatingDCR]
      ,[RatingDCRDerived]
      ,[Region]
      ,[RecoveryRateFitch]
      ,[RecoveryRateMoody]
      ,[RecoveryRateSP]
      ,[ReferenceAssetID]
      ,[RegistrationType]
      ,[SecurityID]
      ,[SecurityLevel]
      ,[SecurityLevelFitch]
      ,[SecurityLevelMoody]
      ,[SecurityLevelSP]
      ,[SelfPurchasedAmount]
      ,[Servicer]
      ,[SFOType]
      ,[SpreadLibor]
      ,[SpreadPrime]
      ,[StdDevMoody]
      ,[SyntheticCounterInstitution]
      ,[SyntheticType]
      ,[TradesWithAccrued]
      ,[TransferAgent]
      ,[UpgradedDowngraded]
      ,[WeightedAvgAllInRate]
      ,[WeightedAvgSpread]
      ,[WeightedAvgDaysToReset]
      ,[WeightedAvgDaysToResetAmount]
      ,[YieldToWorst]
      ,[YTM]
      ,[YTW]
      ,[UserAmount1]
      ,[UserAmount2]
      ,[UserAmount3]
      ,[UserAmount4]
      ,[UserAmount5]
      ,[UserAmount6]
      ,[UserAmount7]
      ,[UserAmount8]
      ,[UserAmount9]
      ,[UserAmount10]
      ,[UserAmount11]
      ,[UserAmount12]
      ,[UserAmount13]
      ,[UserAmount14]
      ,[UserAmount15]
      ,[UserAmount16]
      ,[UserAmount17]
      ,[UserAmount18]
      ,[UserAmount19]
      ,[UserAmount20]
      ,[UserFlag1]
      ,[UserFlag2]
      ,[UserFlag3]
      ,[UserFlag4]
      ,[UserFlag5]
      ,[UserFlag6]
      ,[UserFlag7]
      ,[UserFlag8]
      ,[UserFlag9]
      ,[UserFlag10]
      ,[UserFlag11]
      ,[UserFlag12]
      ,[UserFlag13]
      ,[UserFlag14]
      ,[UserFlag15]
      ,[UserFlag16]
      ,[UserFlag17]
      ,[UserFlag18]
      ,[UserFlag19]
      ,[UserFlag20]
      ,[UserString1]
      ,[UserString2]
      ,[UserString3]
      ,[UserString4]
      ,[UserString5]
      ,[UserString6]
      ,[UserString7]
      ,[UserString8]
      ,[UserString9]
      ,[UserString10]
      ,[UserPercentage1]
      ,[UserPercentage2]
      ,[UserPercentage3]
      ,[UserPercentage4]
      ,[UserPercentage5]
      ,[UserDecimal1]
      ,[UserDecimal2]
      ,[UserDecimal3]
      ,[UserDecimal4]
      ,[UserDecimal5]
      ,[UserNumber1]
      ,[UserNumber2]
      ,[UserNumber3]
      ,[UserNumber4]
      ,[UserNumber5]
      ,[UserDate1]
      ,[UserDate2]
      ,[UserDate3]
      ,[UserDate4]
      ,[UserDate5]
      ,[FacilityIncrease]
      ,[ParAmountNativeHypo]
      ,[OutstandingNativeHypo]
      ,[BankDeal_GlobalAmount]
      ,[ExcessCurrentPay]
      ,[ExcessMoodyCaa]
      ,[ExcessSPCCC]
      ,[FeeSpread]
      ,[InterestFromReinvestment]
      ,[IsDelayedDraw]
      ,[IsRatingMoodyPending]
      ,[LiborBaseRateFloor]
      ,[MarkPrice_BidPrice]
      ,[PaymentDate]
      ,[PrimarySpread]
      ,[PrimarySpreadType]
      ,[PrimeBaseRateFloor]
      ,[PriorityCategorySPI]
      ,[PriorityCategorySPII]
      ,[PriorityCategorySPIII]
      ,[PriorityCategorySPIV]
      ,[PriorityCategorySPV]
      ,[PriorityCategorySPVI]
      ,[RatingMoodyIsShadow]
      ,[RatingMoodyIssue]
      ,[RatingSPIssue]
      ,[RatingSPIssueCreditWatch]
      ,[RecoveryAmountCurrentPay]
      ,[RecoveryAmountMoodyCaa]
      ,[RecoveryAmountSPCCC]
      ,[RecoveryRateMoodyFeed]
      ,[RecoveryRateSPI]
      ,[RecoveryRateSPII]
      ,[RecoveryRateSPIII]
      ,[RecoveryRateSPIV]
      ,[RecoveryRateSPV]
      ,[RecoveryRateSPVI]
      ,[UserString11]
      ,[UserString12]
      ,[UserString13]
      ,[UserString14]
      ,[UserString15]
      ,[UserString16]
      ,[CoreSystem]
  FROM [DataMarts].[dbo].[WsoExtractAsset]


GO
