<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="BaseWebPath" value="http://yorknetuat" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="SharepointPath" value="http://yorknetspuat" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="DWHPath" value="http://dwhuat" />
  </appSettings>
</configuration>